<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header Static</title>
</head>
<body>
<header class="header" th:fragment="header">
    <nav>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="/tecnicos">Sitios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/estadisticas">Estadísticas</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>