<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous">
    <title>Lista de técnicos</title>
</head>
<body>
<header class="header" th:replace="~{fragmentos/header-static :: header}"></header>
<main>
    <div class="container">
        <h1 class="pb-2 mb-4 border-bottom">Lista de Técnicos</h1>
        <a href="/tecnicos/nuevo" class="btn btn-outline-primary">Nuevo tecnico</a>

        <div th:if="${msg!=null}" th:text="${msg}" class="alert alert-success"></div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">DNI</th>
                <th scope="col">Edad</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tecnico : ${listaTecnicos}">
                <td th:text="${tecnico.firstname}"></td>
                <td th:text="${tecnico.lastname}"></td>
                <td th:text="${tecnico.dni}"></td>
                <td th:text="${tecnico.age}"></td>
                <td th:text="${tecnico.phone}"></td>
                <td>
                    <a th:href="@{'tecnicos/editar' + '/' + ${tecnico.technicianid}}" class="btn btn-warning">Editar</a>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</main>
</body>
</html>