<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous">
    <title>Nuevo técnico</title>
</head>
<body>
<header class="header" th:replace="~{fragmentos/header-static :: header}"></header>
<main>
    <div class="container">
        <h1 class="pb-2 mb-4 border-bottom">Nuevo tecnico</h1>

        <form action="/tecnicos/guardar" method="post" th:object="${technician}">
            <input type="hidden" th:field="*{technicianid}">
            <div class="form-group">
                <label for="firstName">Nombre</label>
                <input type="text" class="form-control" th:field="*{firstname}" placeholder="Ingrese su nombre">
            </div>
            <div class="form-group">
                <label for="lastname">Apellidos</label>
                <input type="text" class="form-control" th:field="*{lastname}" placeholder="Ingrese sus apellidos">
            </div>
            <div class="form-group">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" th:field="*{dni}" placeholder="Ingrese su DNI">
            </div>
            <div class="form-group">
                <label for="age">Edad</label>
                <input type="number" class="form-control" th:field="*{age}" placeholder="Ingrese su edad">
            </div>
            <div class="form-group">
                <label for="phone">Telefono</label>
                <input type="number" class="form-control" th:field="*{phone}" placeholder="Ingrese su email">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="/tecnicos" class="btn btn-danger">Cancelar</a>
        </form>

    </div>
</main>
</body>
</html>